<div n:snippet="async">
	<a n:href="asyncLoad!" n:attr="(expand) $link->getAttributes()" data-async rel="nofollow">
		{if $useTranslate}
			{$link->getMessage()|translate}
		{else}
			{$link->getMessage()}
		{/if}
	</a>
</div>